/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url(./assets/images/quote.jpeg);
    color: white;
}
#mb20{
    margin-left: 20px;
}